.movie-container {   
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    background-color: green;
    border-radius: 1rem;
}

.movie-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.movie-img {
    margin: 10px;
    border: 2px solid yellow;
    border-radius: 1rem;
    max-width: 90px;
    height: auto;
}

.movie-title {
    color: white;
    
}

.movie-name a {
    text-decoration: none;
}